name: Package Folder for Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Zip Main Folder (including all sub-folders)
        run: |
          zip -r ass_effect.zip ass/

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: MyArchive.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}